[Desktop Entry]
Version=1.0
Name=MapR DataScience Refinery
Comment=Open MapR DataScience Refinery
Icon=applications-internet
Comment=Open URL: https://MAPR_HOST:9995
Icon[en_US]=applications-internet
URL=https://MAPR_HOST:9995
Type=Link