[Desktop Entry]
Version=1.0
Name=Lab Guide
Comment=Open Bootcamp Lab Guide
Icon=applications-internet
Comment=Open URL: https://goo.gl/d8kQ1T
Icon[en_US]=applications-internet
URL=https://goo.gl/d8kQ1T
Type=Link